@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.bg-darkest-blue { background-color: #091B6F; }
.bg-darker-blue { background-color: #0D28A6; }
.bg-med-blue { background-color: #5E70C4; }
.bg-lighter-blue { background-color: #AEB7E1; }
.bg-lightest-blue { background-color: #CFD4ED; }
.bg-darkest-green { background-color: #3D7B3F; }
.bg-darker-green { background-color: #5CB85F; }
.bg-med-green { background-color: #92D094; }
.bg-lighter-green { background-color: #C9E7CA; }
.bg-lightest-green { background-color: #DEF1DF; }
.bg-danger-color { background-color: #FA2C5A; }
.bg-alert-color { background-color: #F9CC00; }
.bg-success-color { background-color: #73CA5C; }
.bg-black { background-color: #151515; }
.bg-dark-grey { background-color: #3C3C3C; }
.bg-med-grey { background-color: #8A8A8A; }
.bg-light-grey { background-color: #D0D0D0; }
.bg-white { background-color: #FFFFFF; }

.bg-header { background-color: #F1F3FF; }

.btn-start {
    color: #FFFFFF !important;
    background-color: #5CB85F;
    border-radius: 2px;
}

.btn-start:hover {
    background-color: #FFFFFF;
    color: #5CB85F !important;
}

.car-bg {
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    margin-right: -100%;
    border-radius: 60px 0px 0px 0px;
}

.overview-heading {
    line-height: 54px;
}

.testimonial-item {
    background-color: #F1F3FF;
}

.testimonial-btn:hover {
    background-color: #5CB85F;
}

.testimonial-btn:hover img {
    filter: invert(1);
}

.search-filter {
    height: 120px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.search-filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-filter input:focus, .search-filter select:focus {
    outline: none;
}

.search-result {
    transform: translateY(-60px);
}

.search-result-item {    
    box-sizing: border-box;
    width: calc(33.33% - 16px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.search-result-item .car-image {
    height: 220px;
    object-fit: cover;
}